.active {
    background-color: rgba(0, 123, 255, 0.4);
    border-radius: 0.375rem;
    color: black;
}
.card:nth-child(4n+1) {
    margin-top: 8px;
}
.dropdown{
    position:relative
}
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
form{
    display: inline;
}
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .navbar a {
    color: white;
}
.dark-mode .navbar{
    background-color: #1F1B24;
}
.dark-mode .active {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.375rem;
    color: #121212;
}

.dark-mode .card-header {
    background-color: #1F1B24;
    color: #fff;
}
.dark-mode .card-body {
    background-color: #28232e;
    color: #fff;
}
.dark-mode .list-group-item {
    background-color: #373040;
    color: #fff;
}
.dark-mode a{
    color:white
  }
.dark-mode .navbar .dropdown-menu {
    background-color: #1F1B24;
    color: #fff;
}
.dark-mode .navbar-nav .nav-item.dropdown .nav-link {
    color: white;
}
.dark-mode .navbar-nav .nav-item.dropdown .dropdown-item:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar-nav .nav-item.dropdown .dropdown-item:hover {
    color: black;
    background-color: rgba(0, 123, 255, 0.4);
}
.dark-mode .form-control{
    background-color: #373040;
    color:white
}
.dark-mode .form-select{
    background-color: #373040;
    color:white
}
#theme-toggle-button {
    background-color: transparent;
    border: none;
}
#theme-toggle-img {
    width: 48px;
    height: 48px;
}
#img-darkMode {
    z-index: 2;
}
#collapsed-navbar {
    background-color: rgba(255, 255, 255, 0.5);
}
.nav-link  {
    margin-left: 5px;
    margin-right: 5px;
}
.dark-mode #creacion{
    color: #b0b0b0;
    font-size: 80%;
}
#creacion {
    color: #6c757d;
    font-size: 80%;
}
