.active {
    background-color: rgba(0, 123, 255, 0.4);
    border-radius: 20px;
    color: black;
}
.card:nth-child(4n+1) {
    margin-top: 8px;
}
.dropdown{
    position:relative
}
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
.dark-mode {
    background-color: #121212;
    color: white;
}
#theme-toggle-img {
    width: 48px;
    height: 48px;
}
.dark-mode .navbar a {
    color: white;
}
.dark-mode .navbar{
    background-color: #1F1B24;
}
.dark-mode .active {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #121212;
}
.dark-mode a{
  color:white
}
.dark-mode .card-header {
    background-color: #1F1B24;
    color: #fff;
}
.dark-mode .card-body {
    background-color: #28232e;
    color: #fff;
}
.dark-mode .list-group-item {
    background-color: #373040;
    color: #fff;
}
.dark-mode .navbar .dropdown-menu {
    background-color: #1F1B24;
    color: #fff;
}

.dark-mode .navbar .dropdown-menu a {
    color: #fff;
}
.dark-mode .theme-toggle-img{
    background-color: #1F1B24;
}
.dark-mode .navbar-nav .nav-item.dropdown .nav-link {
    color: white;
}
.dark-mode .navbar .dropdown-menu .dropdown-item:hover {
    color:  #121212;
}
#theme-toggle-button {
    background-color: transparent;
    border: none;
}
